@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,900&display=swap');

.acerca{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;;
}

.acerca img{
    height: 50%;
    width: 50%;
}
.media-body{
    padding-top: 100px;
}

.media-body p{
    margin-top: -2%;
    font-weight: 200;
    opacity: 0.6;
    width: 80%;
}

.biografia{
    margin-top: 20px;
    margin-bottom: 30px;
}
.biografia .item{
    padding-top: 3px;
}
.biografia .item span{
    opacity: 0.5;
    padding-left: 60px;
}

.biografia .item span a{
    cursor: pointer;
}
.media-body button{
    background-color: #ffbd39;
    border: none;
    font-weight: 600;
    font-size: 13px;
    margin-top: 20px;
    font-stretch: expanded;
    padding: 15px;
    border-radius: 50px;
}

@media only screen and (max-width : 877px){
    .media-body{
        margin-left: -50px;
    }
    .acerca img{
        margin-top: 50px;
    }
}
@media only screen and (max-width : 777px){
    .media{
        margin-left: -50px;
    }
    
}
@media only screen and (max-width : 728px){
    .media img{
        display: none;
        margin-left: 0px;
    }
    .media-body p{
        margin-top: 20px;
    }
   
    .media-body{
        margin-left: 60px;
    }
}
