.inicio{
    width: 100%;
    padding-top: 80px;
    height: 400px;
    background-color: blue;
}

.inicio label{
    cursor: pointer;
    padding: 10px;
    color: white;
}

.inicio .active{
    color: aqua;
    font-weight: bold;
}