.inicio{
    width: 100%;
    padding-top: 80px;
    background-color: black;
}

.inicio label{
    cursor: pointer;
    padding: 10px;
    color: white;
}

.inicio .active{
    color: aqua;
    font-weight: bold;
}

@media only screen and (max-width : 768px){
    .inicio{
        display: none;
    }
}