@import url('https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap');

.Header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 20px;
    padding-left: 8%;
    padding-right:8%;
    position: fixed;
    width: 100%;
    
}


.toggle label{
    color: white;
    font-size: 16px;    
    display: none;
    margin-top: -25px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    opacity: 0.5;
    
}

.menu{
    margin-right: 10vw;
}
.toggle span{
    padding-right: 2px;
    font-size: 20px;
}

#toggle{
    display: none;
}

@media only screen and (max-width:991px){
  
   .Header{
       display: grid;
       grid-template-columns: 11fr 1fr;
       z-index: 1000;
   }
   .menu{
       padding-top: 20px;
       display: none;
      
   }
    .toggle label{
        display: flex;
        cursor: pointer;
        flex-direction: row;
        margin-top: 0px;
    }

    .toggle a{
       margin-top: 3.8px;
       margin-left: 2px;
    }

    .menu a{
        display: block;
       
    }
    

    #toggle:checked + .menu{
        display: block;
       
    }
}

.Header .brand a{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
}

.brand{
    flex-grow: 1;
}
.Header ul{
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.Header li{
    margin-right: 2vw;
    display: inline;
    cursor: pointer;
    
}
.Header .nav .active, .Header .nav a:hover{
    border-bottom: 2px solid #ffbd39;
    padding-bottom: 5px;
}
.Header .nav .active, .Header .nav .active:hover{
    color: #ffbd39;
}
